### Import pandas

In [4]:
import pandas as pd

### Import csv

In [12]:
df = pd.read_csv("./bmw.csv")

### Ejercicio 1

In [7]:
df[:10]

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,5 Series,2014,11200,Automatic,67068,Diesel,125,57.6,2.0
1,6 Series,2018,27000,Automatic,14827,Petrol,145,42.8,2.0
2,5 Series,2016,16000,Automatic,62794,Diesel,160,51.4,3.0
3,1 Series,2017,12750,Automatic,26676,Diesel,145,72.4,1.5
4,7 Series,2014,14500,Automatic,39554,Diesel,160,50.4,3.0
5,5 Series,2016,14900,Automatic,35309,Diesel,125,60.1,2.0
6,5 Series,2017,16000,Automatic,38538,Diesel,125,60.1,2.0
7,2 Series,2018,16250,Manual,10401,Petrol,145,52.3,1.5
8,4 Series,2017,14250,Manual,42668,Diesel,30,62.8,2.0
9,5 Series,2016,14250,Automatic,36099,Diesel,20,68.9,2.0

### Ejercicio 2

In [48]:
serie = df["year"]
size = serie.size
tipo = serie.dtype
print("Tipo:",tipo, "; Size:",size)

Tipo: int64 ; Size: 10781

### Ejercicio 3

In [54]:
serie = df["mileage"]
serie[7::7]

7        10401
14       19057
21       78957
28       96213
35       61818
         ...
10752    41500
10759    54008
10766    54987
10773    60372
10780    59432
Name: mileage, Length: 1540, dtype: int64

### Ejercicio 4

In [62]:
serie = df.sample(frac=.4)
serie

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
8707,1 Series,2016,11000,Manual,34683,Diesel,0,83.1,1.5
8785,4 Series,2019,28500,Automatic,5123,Petrol,145,48.7,2.0
2263,Z4,2020,35850,Semi-Auto,5,Petrol,145,37.2,2.0
8292,1 Series,2019,23499,Automatic,9112,Petrol,145,39.8,3.0
4304,X6,2019,40980,Automatic,4155,Diesel,145,44.8,3.0
...,...,...,...,...,...,...,...,...,...
4719,5 Series,2019,29950,Semi-Auto,4043,Diesel,145,60.1,2.0
2492,X1,2017,19990,Semi-Auto,18754,Diesel,150,65.7,2.0
9900,1 Series,2014,11990,Automatic,24500,Petrol,145,48.7,1.6
773,5 Series,2017,23898,Semi-Auto,46954,Diesel,145,60.1,3.0
9115,3 Series,2019,28488,Automatic,5741,Diesel,145,48.7,2.0

### Ejercicio 5

In [69]:
serie = df["mileage"]
indices = serie[::]< 20000
serie[indices]

1        14827
7        10401
14       19057
15       16570
39        6522
         ...
10740     3551
10741     2784
10742     5634
10743    13165
10755    13955
Name: mileage, Length: 5610, dtype: int64

### Ejercicio 6

In [74]:
serie = df["mpg"]
pd.Series.sort_values(serie)

6965      5.5
6172      5.5
6132      5.5
6198      5.5
2116      5.5
        ...
7299    470.8
3628    470.8
6070    470.8
2352    470.8
7347    470.8
Name: mpg, Length: 10781, dtype: float64

### Ejercicio 7

In [104]:
serie = df["engineSize"]
media = serie.mean()
desv = serie.std()
minimum = serie.min()
maximum = serie.max()
print(media, desv, minimum, maximum)

2.1677673685186902 0.5520537772398375 0.0 6.6
0.0
6.6

### Ejercicio 8